<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img [src]="logo" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let i of lista; ">
          <a [href]="i.url" class="nav-item nav-link active">
            <i [class]="i.icon"></i>{{i.name}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid row mx-auto justify-content-lg-start justify-content-md-start justify-content-sm-center">
 <div class="card col-lg-2 col-md-4 col-sm-5 mx-1 my-2" *ngFor="let i of noticias">
      <img [src]="i.img" class="card-img-top w-100" alt="card de la noticia">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.autor}}</p>
        <p class="card-text">{{i.date}}</p>
       <div class="row container-fluid">
        <div class="col">
          <a href="/admin/noticias/modificar/" class="btn btn-warning" type="submit" action="">
            <i class="bi bi-pen-fill"></i>
          </a>
         </div>
         <div class="col">
          <a href="/admin/noticias/" class="btn btn-danger" type="submit" action="">
            <i class="bi bi-trash-fill"></i>
          </a>
         </div>
       </div>
      </div>
    </div>
</div>
