<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img [src]="logo" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let i of lista; ">
          <a [href]="i.url" class="nav-item nav-link active">
            <i [class]="i.icon"></i>{{i.name}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="margin">
  <div class="wrapper">
    <form class="login">
      <h5 class="title">Modificar noticia</h5>
      <input type="text" placeholder="Titulo" autofocus required value="valor"/>
      <input type="text" placeholder="Autor"  required value="valor"/>
      <input type="date" placeholder="fecha" autofocus required value="2020-10-10"/>
      <input type="file" autofocus required class="inputfile" id="file" name="file" class="form-control" value="1.jpg"/>
      <button>
        <i class="spinner"></i>
        <span class="state">Modificar</span>
      </button>
    </form>

  </div>
</div>
