<div class="container-fluid py-5 px-4 my-2 bg-customize">
  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <h1 class="text-center">Contactanos</h1>
      <h5 class="mx-1">Usa el formulario que se encuentra a continuación para enviarnos tus comentarios o informarnos sobre algún problema.
        <br>Yolotl significa corazón en Nahuatl y es un proyecto dedicado a generar encuentros para mirarse en el
      </h5>
    </div>
    <div class="col-lg-7 col-sm-12 py-lg-3 py-md-2 py-sm-0">
      <form action="" method="post">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control"  placeholder="Nombre Materno Paterno" required>
        </div>
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="email" class="form-control"  placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
          <label  class="form-label">Comentarios</label>
          <textarea class="form-control"  rows="3" required></textarea>
        </div>
        <div class="mb-3">
          <button>Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
