
<div class="container-fluid row mx-auto justify-content-center">
  <h1 class="text-center my-5">Noticias</h1>
 <div class="card col-lg-2 col-md-4 col-sm-5 mx-1 my-2" *ngFor="let i of notices">
      <img [src]="i.img" class="card-img-top w-100" alt="card de la noticia">
      <div class="card-body">
        <h5 class="card-title">Titulo:{{i.title}}</h5>
        <p class="card-text">Autor:{{i.autor}}</p>
        <p class="card-text">Fecha:{{i.fecha}}</p>
        <p class="card-text text-truncate">Descripción{{i.description}}</p>
       <div class="row">
        <div class="col">
          <a href="" class="btn btn-info" type="submit" action="">
            Ver noticia
          </a>
         </div>
       </div>
      </div>
    </div>
</div>
